<!DOCTYPE html>
<!--html5-->

<html>

    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <!--네비게이션 바-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="col">
                <a class="navbar-brand" href="/"><em>Dugram</em></a>
            </div>        
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Nottice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>
                </ul>
        </nav>
        <div class="row my-4"></div> <!--네비게이션바 마진-->
        <!-- 인기 글 분활 화면 card-deck-->
        <div class="container mt-5 bg-light">
            <h1>금일 인기 게시물</h1>
            <div class="card-deck bg-light">
                <div class="card text-center">
                    <a href="#" class="text-dark">
                    <img src="../../public/images/c_1.jpg" style="height:15em; width:100%">
                    <div class="card-body">
                        <h3>여행은 언제나 재밌어</h3>
                        <p>여행으로 힐링한다.</p>
                    </div>
                    <div class="card-footer text-right text-muted">
                        <small><p class="m-0">5분 전</p><p class="m-0">triplover 님</p></small>
                    </div>
                    </a>
                </div>
                <div class="card text-center">
                    <img src="../../public/images/c_2.jpg" style="height:15em; width:100%">
                    <div class="card-body">
                        <h3>여행은 언제나 재밌어</h3>
                        <p>여행으로 힐링한다.</p>
                    </div>
                    <div class="card-footer text-right text-muted">
                        <small><p class="m-0">5분 전</p><p class="m-0">triplover 님</p></small>
                    </div>
                </div>    
            </div>
        </div>
        <!-- 최근 업로드 글들 화면 card-columns-->
        <div class="container mt-5 bg-light">
            <h1>최근 업로드</h1>
            <div class="card-columns bg-light">
                <div class="card text-center">
                    <img src="../../public/images/c_1.jpg" style="height:15em; width:100%">
                    <div class="card-body">
                        <h3>여행은 언제나 재밌어</h3>
                        <p>여행으로 힐링한다.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <img src="../../public/images/c_2.jpg" style="height:15em; width:100%">
                    <div class="card-body">
                        <h3>여행은 언제나 재밌어</h3>
                        <p>여행으로 힐링한다.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <img src="../../public/images/c_3.jpg" style="height:15em; width:100%">
                    <div class="card-body">
                        <h3>인생사 세옹지마</h3>
                        <p>어디로 튈지 모른다.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <img src="../../public/images/c_1.jpg" style="height:15em; width:100%">
                    <div class="card-body">
                        <h3>여행은 언제나 재밌어</h3>
                        <p>여행으로 힐링한다.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <img src="../../public/images/c_2.jpg" style="height:15em; width:100%">
                    <div class="card-body">
                        <h3>여행은 언제나 재밌어</h3>
                        <p>여행으로 힐링한다.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <img src="../../public/images/c_3.jpg" style="height:15em; width:100%">
                    <div class="card-body">
                        <h3>인생사 세옹지마</h3>
                        <p>어디로 튈지 모른다.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <img src="../../public/images/c_1.jpg" style="height:15em; width:100%">
                    <div class="card-body">
                        <h3>여행은 언제나 재밌어</h3>
                        <p>여행으로 힐링한다.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <img src="../../public/images/c_2.jpg" style="height:15em; width:100%">
                    <div class="card-body">
                        <h3>여행은 언제나 재밌어</h3>
                        <p>여행으로 힐링한다.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <img src="../../public/images/c_3.jpg" style="height:15em; width:100%">
                    <div class="card-body">
                        <h3>인생사 세옹지마</h3>
                        <p>어디로 튈지 모른다.</p>
                    </div>
                </div>    
            </div>
        </div>

        <!-- 끝 -->

        <!--로그인 화면 모달-->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content text-center">
                        <div class="modal-header">
                            <h4 class="modal-tilte">로그인</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action="#" method="GET">
                                <div class="">
                                    <div class="form-group form-inline">
                                        <label class="mr-3">Email : </label>
                                        <input type="email" class="form-control col">
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group form-inline">
                                        <label class="mr-3">PW : </label>
                                        <input type="email" class="form-control col">
                                    </div>
                                </div>
                                <div class="justify-content-center">
                                    <button type="submit" class="btn btn-primary">확인</button>
                                </div>                                 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>