<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>풀프로틴 코리아|FULL-Protein</title>
        <style>
        .k{height : 500px;
           width : 100%;
        }
        ul, li{
          list-style:none;
        }
        a {
          color :black;
          text-align: center;
          text-decoration: none;
        }
        a:hover{
          color : black;
          text-decoration: none;
        }

        </style>
    </head>
    <body class="bg-dark">
        <div class="container rounded">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
                <a href="/jjmain"><img src="/images/fp.png" width="40%"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">스포츠웨어 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">식이요법</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">운동목적</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">진행중인 이벤트</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        카테고리
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            베스트셀러</a>
                        <a class="dropdown-item" href="#">세트상품</a>
                        <a class="dropdown-item" href="#">신상품</a>
                        <a class="dropdown-item" href="#">샘플 전문몰</a>
                        <a class="dropdown-item" href="#">세일상품</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">신규고객 가이드</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                  <a href="/jjsignup"><img src="/images/ac.png" width=40 height=40>계정</a>
                </div>
              </nav>
              <br>
              <br>
              <br>
              <br>
              <div class="container bg-white rounded">
                  <p><h2>나의 정보</h2></p>
                  <h3>가입하기:</h3>
                  <div class="container">
                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">이메일</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">비밀번호</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">주소</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">상세주소</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
                </div>
                <hr color="black">
                  <div class="container bg-light rounded">
                    <div class="row">
                      <div class="container col-md-5 col-md-5">
                      <img src="/images/fp.png" width="20%">
                      <h5>MAKE LIFE BETTER</h5>
                      <p class="small text-muted">2019 Fullprotein.co.kr, 2018 © The Hut.com Limited, a company registered in Ansan and pangyo (company number 105125) whose registered address is fpunited, pangyo Avenue, Sung-nam city, gyunggi pv.</p>
                    </div>
                    <div class="container col-md-5 col-md-5">
                        <h5>Pay securely with</h5>
                        <p></p>
                        <img src="/images/card.png" width="100%">
                      </div>
                    </div>
                  </div>
              </div>
              </div><!--큰컨테이너-->
    </body>
</html>